*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}
body{
    background-color: #18191a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
h2{
    color: white;
    font-size: 40px;
}
.prompt{
    background-color: rgb(58, 59, 60);
    padding: 5px;
    width: 620px;
    border: 3px solid rgb(103, 100, 100);
    border-radius:   10px;

}
input,button
{
    padding: 10px;
    border: none;
    font-size: 20px;

}
input{
background-color: rgb(58, 59, 60);
width: 75%;
color: aliceblue;
}
button{
    background-color: rgb(103, 100, 100);
    width: 20%;
    cursor: pointer;
}
button:hover{
    background-color: rgb(150, 150, 150);
}
.images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap : 10px;
}
.images div{
    height: 200px;
    width: 200px;
    background-color: gray;
    border: 3px solid;
    border-radius: 10px;
}
.images div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}